/*******************************************/
/************* Homepage Header *************/
/*******************************************/

#homepage-header {
  position:relative;
}

/*** Homepage Banner ***/
.homepage-banner-wrapper {
  width:1360px;
  margin:0 auto;
}
.homepage-banner {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.homepage-banner-placeholder {
  width:100%;
  height:auto;
}
.homepage-banner-placeholder-small {
  display:none
}

/*** Top Feature ****/
.top-feature-wrapper {
  position: absolute;
  top: 4.2%;
  width: 100%;
}
.top-feature {
  width:100%;
  max-width:1008px;
  margin:0 auto;
}
.top-feature-inner {
  background-image:url('../../images/homepage-bg-welcome-area.png');
  margin-left: 26%;
  margin-right: 18px;
  padding: 18px;
  overflow: hidden;
}

h1.home-title { 
  font-family: Didot,Georgia,'Times New Roman',Times,sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight:normal;
  color:#333;
  margin-bottom:9px;
}

h1 br { display:none; }

.top-feature .intro-copy {
  float:left;
  width:50%; /* fallback */
  width: calc(100% - 300px);
  margin-bottom:0;
  color: #4B4B4B;
  font-family: 'lucida grande',arial,helvetica,sans-serif;
  font-size: 1.375em;
  line-height: 28px;
}
.top-feature .intro-copy a {
  margin-top:18px;
  display:block;
  color:#0050a0;
}
.top-feature .intro-copy a .underline {
  text-decoration:underline;
}
.top-feature .intro-buttons {
  float:right;
}
.top-feature .intro-buttons .button {
  display: block;
  padding: 5px;
  margin: 9px 0;
  width:270px;
  background: #04316a; /* Old browsers */
  background: -moz-linear-gradient(top,  #04316a 0%, #0f4375 50%, #01366c 52%, #01366c 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#04316a), color-stop(50%,#0f4375), color-stop(52%,#01366c), color-stop(100%,#01366c)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #04316a 0%,#0f4375 50%,#01366c 52%,#01366c 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #04316a 0%,#0f4375 50%,#01366c 52%,#01366c 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #04316a 0%,#0f4375 50%,#01366c 52%,#01366c 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #04316a 0%,#0f4375 50%,#01366c 52%,#01366c 100%); /* W3C */
}
.top-feature .intro-buttons .button a {
  background:url('../../images/bg-homepage-arrow.png') no-repeat 9px center transparent;
  display: block;
  color: white;
    font-size: 1.25em;
    font-weight: bold;
    padding: 12px 0 12px 45px;
  border: 1px solid #295b8e;
}
.top-feature .intro-buttons .button:hover {
  background: #05387b; /* Old browsers */
  background: -moz-linear-gradient(top,  #05387b 0%, #114a7f 50%, #02407e 52%, #02407e 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#05387b), color-stop(50%,#114a7f), color-stop(52%,#02407e), color-stop(100%,#02407e)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #05387b 0%,#114a7f 50%,#02407e 52%,#02407e 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #05387b 0%,#114a7f 50%,#02407e 52%,#02407e 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #05387b 0%,#114a7f 50%,#02407e 52%,#02407e 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #05387b 0%,#114a7f 50%,#02407e 52%,#02407e 100%); /* W3C */
}
.top-feature .intro-buttons .button a:hover {
  text-decoration:none;
}
.learn-more-link {
  background: url("../../images/homepage-icons-triangle.png") no-repeat 0 7px transparent;
  padding-left: 20px;
}

/*******************************************/
/************ Main Content Area ************/
/*******************************************/

.page-wrapper {
  overflow: visible;
  margin-top:-44px;
}

.front .separator {
  border-top: 4px double #DBDBD9;
  clear: both;
  margin-top: 18px;
  padding-top: 16px;
  width: 100%;
}

/*******************************************/
/*************** RFI Buttons ***************/
/*******************************************/

.front .info-buttons {
  width: 300px;
  background-image: url("../../images/homepage-cta-info-apply.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  float: right;
  margin-top: -60px;
  margin-right: 18px;
}
.front .info-buttons a {
  background: none;
  width: 270px;
  height: 45px;
  text-align: left;
  margin-left: 16px;
  text-indent: -9999px;
  box-shadow: 0 0 0;
  -webkit-box-shadow: 0 0 0;
  -moz-box-shadow: 0 0 0;
}
.front .info-buttons a:focus {
  outline:0;
}
.front .info-buttons a.request-info {
  margin-top: 20px; 
}
.desktop-cta a.apply-now, .info-buttons a.apply-now {
  box-shadow: none;
}

/*******************************************/
/************* Top Content Row *************/
/*******************************************/

/*** This is my Life ***/
#timl-content {
  float:left;
  border:solid 1px #DDDDDD;
  padding:18px;
  width: 66.5%; /* fallback */
  width: calc(100% - 318px);
  margin-bottom:18px;
}
#timl-content header { 
  display:none;
}
#timl-content .homepage-video {
  float:left;
  position:relative;
  width:62%;
  padding-bottom:34.9%;
}
#timl-content .homepage-video .BrightcoveExperience {
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
#timl-content .homepage-text{
  float:right;
  width:35%;
  margin-top: -7px;
}
#timl-content .homepage-text p {
  margin:0;
  margin:0;
}

#timl-content h2.title-fancy {
  font-size: 1.85em;
  color: #0050a0;
  font-family: Georgia, 'Times New Roman', Times, sans-serif;
  font-style: italic;
  font-weight: normal;
}

#timl-content h2.title-fancy span {
  color: #00366C;
  font-family: arial, helvetica, 'lucida grande', sans-serif;
  font-style: normal;
  font-weight: bold;
}
#timl-content .timl-name {
  font-size:1.2em;
  margin-top:5px;
  color:#3793D7;
  font-weight:bold;
}


/*** Side content below RFI buttons ***/
#side-content {
  float:right;
  width: 300px;
  margin:18px 0;
  font-family: Georgia,'Times New Roman',Times,sans-serif;
  font-style:italic;
  line-height:1.75em;
  color:#4949494;
}
#side-content .image-wrapper {
  float:left;
  width:40%;
}
#side-content .image-wrapper img {
  width:100%;
  height:auto;
}
#side-content .text {
  float:right;
  width: 59%;
  padding-left:18px;
}


/*******************************************/
/*************** We Are Row ****************/
/*******************************************/

#we-are-block {
  background: #e3e3e3;
  padding:18px;
}
#we-are-block .item {
  width: 33.2%;
  float:left;
}
#we-are-block .item1 { padding:0 12px 0 0; }
#we-are-block .item2 { padding:0 6px 0 6px; }
#we-are-block .item3 { padding:0 0 0 12px; }

#we-are-block .item h2 span {
  color: #0050a0;
  font-family: Georgia, 'Times New Roman', Times, sans-serif;
  font-style: italic;
  font-weight: normal;
}
#we-are-block .item img {
  width:100%;
  height:auto;
  margin:9px 0;
}
#we-are-block a { text-decoration:none; font-weight:bold; }
#we-are-block a .underline { text-decoration:underline; }
#we-are-block .learn-more-link {
  background: url("../../images/homepage-icons-triangle.png") no-repeat 0 0 transparent;
}


/*******************************************/
/**************** News Row *****************/
/*******************************************/

#news-content {
  margin: 0 auto;
  padding-top: 36px;
  padding-bottom:18px;
  width: 100%;
  max-width: 1008px;
}
#news-content header {
  display:none;
}
#news-content h2 span {
  color: #0050a0;
  font-family: Georgia, 'Times New Roman', Times, sans-serif;
  font-style: italic;
  font-weight: normal;
}

#news-content .viewmore {
  float: right;
  margin-top: -40px;
}
#news-content .viewmore a {
  color: #000;
  font-size: .9em;
}
#news-content .news-content {
  border-top: 4px double #DDDDDD;
  margin-top: 9px;
  padding-top: 9px;
}
#news-content .item {
  width: 33.2%;
  float: left;
  display: block;
}
#news-content .item1 { padding:0 24px 0 0; }
#news-content .item2 { padding:0 12px 0 12px; }
#news-content .item3 { padding:0 0 0 24px; }

#news-content div.title a {
  color: #4e8bb8;
  font-size: 17px;
}
#news-content div.day {
  font-size: 17px;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, sans-serif;
  padding-top: 5px;
  padding-bottom: 10px;
}
#news-content div.summary {
  font-size: 11px;
  line-height: 16px;
}


/*******************************************/
/************** Tablet Styles **************/
/*******************************************/

@media all and (max-width: 980px) {
  .homepage-banner-wrapper {
    width:100%;
  }
  .homepage-banner-placeholder { display:none; }
  .homepage-banner-placeholder-small { 
    display:block; 
	height: auto;
    width: 100%;
  }
  .page {
    box-shadow: 0 0 0;
    -webkit-box-shadow: 0 0 0;
    -moz-box-shadow: 0 0 0;
  }
  .page-wrapper {
    margin-top:0;
	padding-top:0;
  }
  .top-feature-wrapper { 
    position: relative;
	top: auto; 
  } 
  .top-feature-inner {
    background-image: none;
    margin-left:0;
    margin-right:0;
	background-color:#fff;
  }
  .top-feature .intro-copy a {
    margin-bottom: 18px;
  }
  
  #container { padding:0; }
  #content.inner-padding { padding:0; }
  .top-feature-inner { padding: 18px 9px; }
  
  .front .info-buttons { 
    clear: both;
    float: none; 
	width:100%;
	margin:0 0 18px 0;
	padding:9px;
	text-align:center;
    background: #04316a; /* Old browsers */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzA0MzE2YSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzBmNDM3NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUyJSIgc3RvcC1jb2xvcj0iIzAxMzY2YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMTM2NmMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #04316a 0%, #0f4375 50%, #01366c 52%, #01366c 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#04316a), color-stop(50%,#0f4375), color-stop(52%,#01366c), color-stop(100%,#01366c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #04316a 0%,#0f4375 50%,#01366c 52%,#01366c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #04316a 0%,#0f4375 50%,#01366c 52%,#01366c 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #04316a 0%,#0f4375 50%,#01366c 52%,#01366c 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #04316a 0%,#0f4375 50%,#01366c 52%,#01366c 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#04316a', endColorstr='#01366c',GradientType=0 ); /* IE6-8 */
  }
  .front .info-buttons a {
    width: 270px;
    height: 45px;
  }
  .front .info-buttons a.request-info,
  .front .info-buttons a.apply-now  {
    margin: 0;
	float:none;
  }
  .front .info-buttons a.request-info {
    background-image:url('../../images/homepage-cta-tablet-rfi.png');
  }
  .front .info-buttons a.apply-now  {
    background-image:url('../../images/homepage-cta-tablet-apply.png');
  }
  #timl-content {
    border: medium none;
    padding: 0 9px 0 9px;
    width: 100%;
  }
  #timl-content .homepage-video {
    width:50%;
    padding-bottom:28.1%;
  }
  #timl-content .homepage-video .BrightcoveExperience {
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
  }
  #timl-content .homepage-text{
    float:right;
    width:48%;
    margin-top: -7px;
  }
  #side-content {
    width: 100%;
    background: #b2a086;
	padding:18px 9px;
	margin-bottom:0;
	margin-top:0;
  }
  #side-content .image-wrapper {
    width:100px;
  }
  #side-content .text {
    float:right;
    width: 100%;
	width:calc(100% - 118px);
    color:#fff;
    font-size:1.5em;
    line-height:1.5em;
	padding-left:0;
  }
  
  #we-are-block { padding:18px 9px; }
  #we-are-block .item { width:100%; }
  #we-are-block .item1 { padding:0; }
  #we-are-block .item2 { padding: 18px 0; }
  #we-are-block .item3 { padding:0; }
  #we-are-block .item img {
    width:33%;
	float:left;
    margin:4px 9px 0px 0;
  } 
}

/*******************************************/
/************** Mobile Styles **************/
/*******************************************/

@media all and (max-width: 740px) {

  .front .info-buttons { display:none; }
  #we-are-block .item img { display:none; }
  
  /*** Only 2 news item at small displays ***/
  #news-content .item { width:49.9%; }
  #news-content .item1 { padding:0 9px 0 0; }
  #news-content .item2 { padding:0 0 0 9px; }
  #news-content .item3 { display:none; }
}

@media all and (max-width: 600px) {
  .top-feature .intro-buttons,
  .top-feature .intro-copy,
  .top-feature .intro-buttons .button
    { float:none; width:100%; }
	
  #timl-content .homepage-video {
    width:100%;
    padding-bottom:55.9%;
  }
  #timl-content .homepage-text{
    width:100%;
    margin-top: 18px;
  }
}

@media all and (max-width: 450px) {
  /*** Only 1 news item at small displays in portrait ***/
  #news-content .item { width:100%; }
  #news-content .item1 { padding:0 0 0 0; }
  #news-content .item2 { display:none; }
  #news-content .item3 { display:none; }
}

@media all and (max-width: 350px) {
  #side-content .image-wrapper {
    padding-right:9px;
  }
  #side-content .text {
    float:none;
	width:100%;
  }
}