/* If less then IE 9 */

/* Fix the width of the outer containers */
.top-navigation, #header, .top-feature,
#block-psu-prospects-blocks-prospects-megamenu,
#container, #news-content,
#super-footer, #legal-footer-wrapper
 { width:1008px !important; }

 /* Allow body scrolling */
body { overflow-x: scroll; }

/* Keep backgrounds filling full width */
body, .page-wrapper,
#header_wrapper, #main-menu,
#super-footer-wrapper
 { min-width:1008px !important; }